@import "tailwindcss";


@keyframes progressAnim {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-progress {
  animation: progressAnim 1.4s infinite linear;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes langSlide {
  0% {
    transform: translateX(-40%);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(-40%);
  }
}

.lang-underline {
  position: absolute;
  bottom: -7px;
  left: 40%;
  height: 3px;
  width: 40%;
  background: #ffffff;
  animation: langSlide 1.2s ease-in-out infinite;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button,
input[type="submit"] {
  appearance: auto;
  -webkit-appearance: auto;
}